<div class="jumbotron">
    <h1>HMT Web Api Tracking</h1>
    <p class="lead">A management tool that provides easy access to hardware interfaces to automate management tasks on local or remote computers.</p>
    <p>IT managers and System Specialists; provides fast and practical solutions for monitoring, reporting and auditing critical operations.</p>
</div>